@font-face {
  font-family: 'WindowsFont';
  src: url('./assets/fonts/w95fa.woff2') format('woff2'),
       url('./assets/fonts/w95fa.woff') format('woff'),
       url('./assets/fonts/w95fa.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'WindowsFont', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #018383;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/images/start-left.png'),
                    url('./assets/images/start-right.png'),
                    linear-gradient(to bottom, #DCDFE4 0px, #DCDFE4 1px, #c4c4c4 1px, #c4c4c4 100%);
  background-repeat: no-repeat;
  background-size: auto 46px, auto 46px, 100% 46px;
  background-position: bottom left, bottom right, bottom;
}

@media (prefers-reduced-motion: reduce) {
  body * {
    transition: none!important;
  }
}


